<h2>Posts</h2>

<p>The home page of your Haven focuses on your recent posts.  They're listed in order, newest to oldest.</p>
<img class="screenshot" src="{% link assets/images/screenshots/posts.jpg %}" alt="Haven screenshot of recent posts"></img>

<p>Writing a new post or editing one uses Markdown along with a live preview that updates as you type</p>
<img class="screenshot" src="{% link assets/images/screenshots/markdown.png %}" alt="Haven screenshot of editing a post"></img>

<h2>Pictures</h2>

<p>Haven makes it easy to include pictures.  Upload a picture and Haven will automatically add the code to reference your picture.  For big pictures, like uploads from modern phone cameras, it will compress the picture to make your page load faster.  Your Haven also makes the picture a link to the original, full-resolution picture.  The live Markdown preview will show your picture too.</p>
<img class="screenshot" src="{% link assets/images/screenshots/image-upload.jpg %}" alt="Haven screenshot of uploaded image of child with crayons"></img>

<h2>Users</h2>

<p>Running your own Haven gives you full control of who has access.  There's an easy to use page to see who you've added, and to add new people.  You can also reset passwords for people if they forget their password.  You're in control.</p>
<img class="screenshot" src="{% link assets/images/screenshots/users.png %}" alt="Haven screenshot of user management page"></img>

<p>Adding new people is as easy as filling out their name and email,..</p>
<img class="screenshot" src="{% link assets/images/screenshots/newuser.png %}" alt="Haven screenshot of new user form"></img>

<p>...and sharing their credentials with them.  Your Haven creates a strong password for them which they can change.  It also creates a magic login link which they can use instead of a password.</p>
<img class="screenshot" src="{% link assets/images/screenshots/user-credentials.png %}" alt="Haven screenshot of new user credentails"></img>
