

<img src="/assets/images/undraw_fatherhood_7i19.svg" alt="Father with son"></img>
<p>I started this project as a website where I could share pictures of my new-born daughter with friends and family.  I tried using WordPress but it took too many custom plugins and configurations and I still got bombarded by spam signup requests.  I thought about how it would be wonderful if other people could host their own websites to share what they want with only the people they choose.  I knew it had to be as easy to use as popular social media sites.  Those sites are free because they bombard their users with ads, and track them all over the internet to make those ads more targetted.</p>

<p>When you run your own website, <em>you</em> are in control.  It costs a little bit of time or money to pay for hosting but it means nobody needs to see any ads on your site or sacrifice the privacy of their online activity.  We've tried to make Haven as easy as possible to run on your own if you have any experience with Amazon AWS, and we'll even run it for you if that feels easier.<p>

