<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" type="text/css" href="/assets/css/style.css?v=1"/>
 <link rel="stylesheet" type="text/css" href="/assets/css/alert.css?v=1"/>
 <link rel="alternate" type="application/rss+xml" title="RSS" href="{% link feed.xml %}">
 <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
 <link rel="icon" href="/favicon.ico" />
 <link rel="icon" href="/icon.svg" type="image/svg+xml" sizes="any" />
 <link rel="apple-touch-icon" href="/apple.png" />
 <link rel="manifest" href="/manifest.webmanifest" />
 <title>{{page.title}}: {{page.meta-title}}</title>
 <meta name="Description" content="{{page.meta-description}}">
</head>
<body>
    <nav>
    <header>
      <a href="/index.html">Haven</a>
      <a href="/order.html">Sign Up</a>
      <a href="/features.html">Features</a>
    </header>
    </nav>

{{content}}
  <nav>
    <footer>
      <a href="{% link index.html %}">Haven</a>
      <a href="{{ site.posts[0].url }}">Blog</a>
      <a href="{% link features.html %}">Features</a>
      <a href="{% link faq.html %}">FAQ</a>
      <a href="https://github.com/havenweb/haven">GitHub</a>
      <a href="{% link screenshots.html %}">Screenshots</a>
      <a href="{% link demo.html %}">Free Demo</a>
      <a href="{% link contact.html %}">Contact</a>
      <a href="{% link order.html %}">Sign Up</a>
    </footer>
    </nav>

</body>

</html>
