---
layout: default
---
<h1>Haven Blog</h1>
<hr>
<h2 class="p-name">{{ page.title }}</h2>
<p class="dt-published" datetime="{{ page.date }}" >{{ page.date | date: "%b %d, %Y" }}</p>
<div class="e-content">
{{ content }}
</div>
<h2>Also from the Haven Blog...</h2>
<ul>
  {% for post in site.posts %}
    {% if post != page %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
<hr>
<a href="https://news.indieweb.org/en" class="u-syndication">
  Also posted on IndieNews
</a>
